.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  background-color: var(--bg-colour);
  width: var(--wsize);
  max-width: 100%;
  min-height: 350px;
  padding: 35px;
  border: var(--border);
  box-shadow: 5px 12px 24px var(--bg-colour);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  position: relative;
}
.login__container::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: var(--wsize);
  width: 100%;
  background-color: var(--bg-colour);
  z-index: -1;
  padding: 35px;
  border: var(--border);
  box-shadow: 5px 12px 24px var(--bg-colour);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}
small > a {
  text-decoration: none;
}
