:root {
  --wsize: 350px;
  --size-1: 30px;
  --border: 2px solid rgba(255, 255, 255, 0.15);
  --bg-colour: rgba(0, 0, 0, 0.1);
}
*:focus-visible {
  outline: var(--border);
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, rgb(202, 216, 215), lightcoral);
  min-height: 100vh;
}
h1 {
  font-size: 2rem;
}
input,
button {
  width: 100%;
  border-radius: var(--size-1);
  padding: 8px 12px;
  font-size: 1rem;
  background: none;
  border: var(--border);
  /* letter-spacing: 0px; */
}
button {
  cursor: pointer;
  background-color: var(--bg-colour);
}
button:active {
  color: #333;
}
label {
  display: inline-block;
  margin-bottom: 10px;
}
input {
  color: #fff;
}
input::placeholder {
  color: #ddd;
}
div {
  margin-block: 20px;
}
